/* 全局樣式 */
body {
    width: 100vw; height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: rgba(14, 17, 22, 0.95);
}


/* 標題樣式 */
h1 {
    font-size: 4rem;
    font-weight: 1000;
    color: rgb(0, 246, 255);
    letter-spacing: 0.5rem;
    padding-bottom: 0.3rem;
    margin: 5rem;
    filter: drop-shadow(-6px 6px 0px rgba(194, 40, 250, 0.8));
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}