/* 全局樣式 */
body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: rgba(14, 17, 22, 0.95);
}


/* 標題樣式 */
h1 {
    font-size: 4rem;
    font-weight: 1000;
    color: rgb(0, 246, 255);
    letter-spacing: 0.5rem;
    padding-bottom: 0.3rem;
    margin: 5rem;
    filter: drop-shadow(-6px 6px 0px rgba(194, 40, 250, 0.8));
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}


/* 紫光容器 */
.purple-light {
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}


/* 右下紫光 */
.purple-light-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    /* 左右紫線 */
    border-left: 2px solid rgb(187, 0, 255);
    border-right: 2px solid rgb(187, 0, 255);
    /* 漸層背景 */
    background: linear-gradient(
        90deg,
        rgba(187, 0, 255, 0.15) 0%, 
        rgba(187, 0, 255, 0.05) 50%, 
        rgba(187, 0, 255, 0) 100%
        );
    /* 上下透明漸變 */
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
    transform: skew(-25deg);    /* 斜切效果 */
}