/* ===== 1. 基礎設定 ===== */

/* 顏色設定 */

/* 全局樣式 */
body {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Roboto, sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ===== 2. 佈局與元件 ====== */

/* UI 容器 */
.ui-container {
    z-index: 1;
    position: fixed;
    top: 2rem;
    right: 2rem;

    width: 35vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* 按鈕容器 */
.control-container {
    display: flex;
    margin-right: 5%;
    width: auto;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 50%;
}

/* 按鈕 */
.control-container > span {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}

.control-container > span:hover {
    opacity: 1;
    scale: 1.1;
}

.control-container > span:active {
    scale: 0.9;
}

/* 控制面板 */
.setting-panel {
    display: none;
    width: 100%;
    border-radius: 2.5rem;

    height: 80vh;

    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    flex-direction: column;
    align-items: center;
}

.setting-panel.show {
    display: flex;
}

/* 面板按鈕容器 */
.setting-panel .tab-header {
    display: flex;
    margin: 1rem;
    width: 60%;
    justify-content: space-between;
}

/* 面板按鈕 */
.setting-panel .tab-header > span {
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.1s ease;
}

.setting-panel .tab-header > span:hover{
    scale: 1.05;
}

.setting-panel .tab-header > span:active{
    scale: 0.95;
}

.tab-header > span.show {
    opacity: 0.8;
}

/* 面板分頁 */
.value-tab, .solution-tab, .analyze-tab {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.value-tab.active, .solution-tab.active, .analyze-tab.active {
    display: flex;
}


/* ===== 3. 響應式設定  ===== */
@media screen and (max-width: 768px) {

    /* 調整 UI 容器 */
    .ui-container {
        top: 1rem;
        right: 1rem;
        width: 80vw;
        height: auto;
    }

    /* 調整按鈕容器 */
    .control-container {
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;
    }

    /* 調整控制面板 */
    .setting-panel {
        height: 80vh;
        border-radius: 1.5rem;
    }
}